---
layout: default
popup-gallery: true
gallery-background: bg-light
gallery:
   -
      column-size: col-4_sm-12
      aspect-ratio: square
      background_image: /Assets/the-sleep-co-3.jpg
      type: pillow
   -
      column-size: col-4_sm-12
      aspect-ratio: square
      background_image: Assets/the-sleep-co-3.jpg
      type: pillow
   -
      column-size: col-4_sm-12
      aspect-ratio: square
      background_image: Assets/the-sleep-co-4.jpg
      type: pillow
   -
      column-size: col-12
      aspect-ratio: landscape
      background_image: Assets/the-sleep-co-1.jpg
      type: room
   -
      column-size: col-6_sm-12
      aspect-ratio: square
      background_image: Assets/the-sleep-co-3.jpg
      type: no-pillow
   -
      column-size: col-6_sm-12
      aspect-ratio: square
      background_image: Assets/the-sleep-co-2.jpg
      type: no-pillow
---
<!---------------- Header Banner ----------------->
<header class="padded-md grid text-center tall-60 md-tall-80">

    {% include header-nav.html %}
    
    <div class="col-12 text-center editable" data-aos="fade-in" data-aos-duration="1000"> 
        <h3> <span class="featured-text-yellow">explore</span> our products</h3>
        <h1 class="regular-weight" data-aos="fade-in" data-aos-delay="500" data-aos-duration="1000">awesome new products to view</h1>
    </div>
</header>

<!-- Gallery Banner -->

{% if page.popup-gallery == true %}

<section class="padded-md {{page.gallery-background}}">

   <!-- Popup Gallery -->
   <h2>Popup Gallery</h2>
      <div class="gallery grid gallery-item" id="lightgallery">

         {% for item in page.gallery %}
         {% if item.type == 'no-pillow' %}
         <a class="{{item.column-size}}" href="{{item.background_image}}">
            <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> 
            </div>
         </a>

         {% endif %}

         {% endfor %}

   </div>
   {% else %}
      <!-- Popup from Button Gallery -->



   <!-- Standard Gallery -->
   <h2>Standard Gallery</h2>
      <div class="gallery grid {{page.gallery-background}}">

         {% for item in page.gallery %}
         <div class="{{item.column-size}}">
               <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> 
               </div>
         </div>
         {% endfor %}

      </div>

      {% endif %}

</section>


  <!-- <div class="col-6 ">
      <div class="bg-image square bg-img-4"> </div>
    </div>
    <div class="col-4_xs-12">
      <div class="bg-image landscape bg-img-3"> </div>
    </div>
    <div class="col-4_xs-12">
      <div class="bg-image landscape bg-img-2"> </div>
    </div>
    <div class="col-4_xs-12">
      <div class="bg-image landscape bg-img-1"> </div>
    </div>
    <div class="col-12">
      <div class="bg-image landscape-wide  bg-img-6"> </div>
    </div> -->

    <!-- <h2>Popup from Button Gallery</h2>

<div class="gallery grid gallery-item" id="lightgallery-2">

   <a href="/Assets/the-sleep-co-4.jpg" title="White Bed">
      View Our Range
   </a>
   <a href="/Assets/the-sleep-co-2.jpg" title="Pillow on Yellow Wall"></a>
   <a href="/Assets/the-sleep-co-3.jpg" title="Dark Bedroom setting"></a>
   <a href="/Assets/the-sleep-co-1.jpg" title="Pupper Yawning"></a>
   <a href="/Assets/the-sleep-co-2.jpg" title="Pillow on Yellow Wall"></a>
   <a href="/Assets/the-sleep-co-3.jpg" title="Dark Bedroom setting"></a>
   
</div> -->