/* colours: 
    Yellow- #ffbe00
    Navy- #192837
    White- #ffffff
 */

 /* Google Font Catamaran (200, 400, 700, 900) */

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* temporary styles for structural HTML */

*{
    border: 2px solid grey;
}

header{
    
}

body{
    font-family: 'Catamaran' sans-serif;
    color: #192837;
}


/* image styles */
.bg-image{
    background-image: url(/Assets/the-sleep-co-1.jpg);
    background-size: cover;
    min-height: 10rem ;
}

/* Universal styles & utility classes */

.padded { padding:5%; }

.padded-sm { padding: 1rem; }

.bg-dark{
    background-color:#192837;
    color:white
}

.featured-text  {color: #ffbe00}

.bg-white{
    background-color:white;
    color: #192837;
}

.regular-weight{ font-weight: 400;}

.text-left  {text-align: left;}

.text-center    {text-align: center;}

.text-right {text-align: right;}

.tall-80{min-height: 80vh;}

.tall-90{min-height: 90vh;}

.tall-100{min-height: 100vh;}

/* ---------- Header Styles ---------- */

header {
    background-image: url(/Assets/the-sleep-co-4.jpg);
    background-size: cover;
    background-position: center;
}

header h3{
    font-size: 5.5rem;
    line-height:1;
}