       <!--------------- Footer Section --------------->

       <footer class="padded grid-spaceBetween bg-dark">
        <div class="col-4-bottom editable hide-xs">
            <h2> Let's <span class="featured-text-yellow"> 
                <br />connect</span> </h2>
            <p class="editable"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam architecto corrupti quibusdam perferendis temporibus, pariatur, earum optio cupiditate rem tenetur amet nam nobis esse, dolor commodi quas rerum quaerat aut?</p>
        </div>
        <div class="col-4_xs-6-bottom text-center editable ">
            <p> <strong>Call:</strong> <a href="tel:#"> 0413 223 342 </a></p>
            <p> <strong>Email:</strong><a href="mailto:#"> hello@thesleep.co </a></p>
            <p> <strong>Store:</strong> 55 Main St, Chicago</p>
            <p> <strong>Instagram:</strong><a href="https://www.instagram.com/thesleepco"> @thesleepco</a></p>
        </div>
    
        <nav class="col-4_xs-6-bottom text-right ">
            <p><a href="/index.html">Home</a></p>
            <p><a href="/about.html">About</a></p>
            <p><a href="/our-products.html">Products</a></p>
            <p><a href="/gallery.html">Gallery</a></p>
            <p><a href="/contact.html">Contact Us</a></p>
        </nav>
    </footer>